<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="LOGS" value="./logs" />

  <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d [%-20thread] %-5level %-30logger{30} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="RollingFileDefault" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOGS}/ihub.log</file>
    <encoder>
      <pattern>%d [%-20thread] %-5level %-30logger{30} - %msg%n</pattern>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOGS}/ihub-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>10MB</maxFileSize>
      <maxHistory>5</maxHistory>
    </rollingPolicy>
  </appender>

  <springProfile name="default">
    <root level="INFO">
      <appender-ref ref="Console" />
      <appender-ref ref="RollingFileDefault" />
    </root>
  </springProfile>

</configuration>
