/* main layout */

body
{
  margin: 0;
  padding: 0;
}

.main_header
{
  margin:0;
  position: absolute;
  height: 50px;
  left:0;
  right:0;
  top:0;
}

.main_header h1
{
  margin: 0;
  background-color: #2196F3;
  color: white;
  display: block;
  vertical-align: middle;
  padding-left: 0.6rem;
  max-height: 40px;
}

.main_header h1 img
{
  vertical-align: middle;
}

.main_header h1 span
{
  vertical-align: middle;
  color: #f0f0f0;
  font-size: 20px;
  padding-top: 2px;
  display: inline-block;
}

.main_body
{
  position: absolute;
  top: 100px;
  bottom:0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  padding-top: 0;
  overflow-y:auto;
  overflow-x:hidden;
}

::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track
{
  background-color: #d0d0ff;
}

::-webkit-scrollbar-thumb
{
  background: #a0a0ff;
  border-radius: 0;
}

div, ul
{
  scrollbar-width: thin;
  scrollbar-color: #a0a0ff transparent;
}

/* PF styles */

body,
body .ui-widget,
body .ui-inputfield
{
  --font-family: Ubuntu, Arial;
  font-family: Ubuntu, Arial;
  font-size: 11pt;
}

body .ui-dialog
{
  max-width: 95%;
  max-height: 95%;
  overflow-y: auto;
  overflow-x: hidden;
}

body .ui-dialog-content
{
  overflow-y: hidden !important;
}

body .ui-panel .ui-panel-content
{
  padding: 0.5rem;
}

body .ui-dialog .ui-dialog-titlebar
{
  padding: 1rem;
}

body .ui-dialog .ui-dialog-content
{
  padding: 0 1rem 2rem 1rem;
}

body .ui-dialog .ui-dialog-footer
{
  padding: 0rem 1rem 1rem 1rem;
}

body .ui-toolbar
{
  padding: 0.5rem;
}

body .ui-button
{
  margin-left: 2px;
  margin-right: 2px;
}

body .ui-datatable thead th
{
  padding: 0.5rem 0.5rem;
}

body .ui-datatable .ui-datatable-data > tr > td
{
  padding: 0.5rem 0.5rem;
}

body .ui-treenode-label
{
  vertical-align: middle;
}

body .ui-treenode-label > span,
body .ui-treenode-label > div
{
  vertical-align: middle;
  margin-right: 4pt;
}

body .ui-datepicker .ui-datepicker-calendar td
{
  padding: 0;
}

body th .p-datepicker > input
{
  width: 100%;
}

/* specific styles */

div.block
{
  margin-top: 6px;
  margin-bottom: 6px;
}

div.block.code
{
  margin-top: 10px;
  font-family: monospace;
}

span.error
{
  color:red;
}

.changed
{
  vertical-align: middle;
  font-style: italic;
  color: blue;
}

.unsaved
{
  color: #908000;
}

.enabled
{
  color: #404040;
}

.disabled
{
  color: #b0b0b0;
}

.prop_name
{
  color: #708070;
}

.prop_value
{
  color: #202020;
}

body table .ui-button.ui-button-icon-only .ui-button-text
{
  padding: 0;
}

body table .ui-button.ui-button-icon-only
{
  width: 24px;
  height: 24px;
}

.level_DEBUG > td
{
  color: #808080;
}

.level_INFO > td
{
  color: #202020;
}

.level_WARN > td
{
  color: #a0a040;
}

.level_ERROR > td
{
  color: #e00000;
}

body .ui-dialog .CodeMirror
{
  height: 240px;
}

/* icons */

.connector
{
  background-image: url(images/connector.svg);
  background-size: 16px 16px;
  width:1rem;
  height:1rem;
}

.logs
{
  background-image: url(images/logs.svg);
  background-size: 16px 16px;
  width:1rem;
  height:1rem;
}

.shell
{
  background-image: url(images/shell.svg);
  background-size: 16px 16px;
  width:1rem;
  height:1rem;
}
