/* latin */
@font-face
{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(fonts/montserrat.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
    U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

body,
body .ui-widget,
body .ui-inputfield
{
  --font-family: Montserrat, Arial;
  font-family: Montserrat, Arial;
  font-size: 11pt;
}

body .ui-dialog
{
  max-width: 95%;
  max-height: 95%;
  overflow-y: auto;
  overflow-x: hidden;
}

body .ui-dialog-content
{
  overflow-y: hidden !important;
}

body .ui-panel .ui-panel-content
{
  padding: 0.5rem;
}

body .ui-dialog .ui-dialog-titlebar
{
  padding: 1rem;
}

body .ui-dialog .ui-dialog-content
{
  padding: 0 1rem 2rem 1rem
}

body .ui-dialog .ui-dialog-footer
{
  padding: 0rem 1rem 1rem 1rem;
}

body .ui-toolbar
{
  padding: 4px;
}

body .ui-button
{
  margin-left: 2px;
  margin-right: 2px;
}

div.block
{
  margin-top: 6px;
  margin-bottom: 6px;
}

div.block.code
{
  margin-top: 10px;
  font-family: monospace;
}

span.error
{
  color:red;
}

h1
{
  font-size: 20px;
}

.changed
{
  vertical-align: middle;
  font-style: italic;
  color: blue;
}

.unchanged
{
  vertical-align: middle;
  font-style: normal;
  color: black;
}

.enabled
{
  color: #404040;
}

.disabled
{
  color: #b0b0b0;
}

.connector
{
  background-image: url(images/connector.svg);
  background-size: 16px 16px;
  width:16px;
  height:16px;
}

.prop_name
{
  color: #708070;
}

div, ul
{
  scrollbar-width: thin;
  scrollbar-color: #a0a0ff transparent;
}

::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track
{
  background-color: #d0d0ff;
}

::-webkit-scrollbar-thumb
{
  background: #a0a0ff;
  border-radius: 0;
}

body .ui-dialog .CodeMirror
{
  height: 200px;
}